*
{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:   sans-serif ;
}
header
{
    color: #fff;
    display: flex;
    position: absolute;
    z-index: 999;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    padding: 15px 200px;
    transition: 0.5 ease;
}
header .logo
{   
    color: #fff;
    font-size: 1.5em;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
}
header .nav
{
    display: flex;    
}
header .nav.active
{
    display: flex;    
    position: fixed;
    width: 100%;
    min-height: 100vh ;
    top: 0;
    left: 0;
    background:rgba(1,1,1,0.5);
    justify-content: center;
    align-items: center;
}
header .nav .nav-items a
{
    color: #fff;
    padding: 2px;
    position: relative;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1em;
    font-weight: 600;
    margin-left: 30px;
    transition: 0.3s ease;
}
header .nav .nav-items a::before
{

    content: '';
    position: absolute;
    background: #fff;
    width: 0%;
    height: 3px;
    bottom: 0;
    left: 0;
    transition: 0.3s;
    
}
header .nav .nav-items a:hover:before
{
    width: 100%;
}
header .nav.active .nav-items a
{
    color: #000;
    font-size: 1.4em;
    margin: 20px;
}
header .nav.active .nav-items 
{
    background: #fff;
    width: 600px;
    max-height: 600px;
    padding: 40px;
    margin: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 30px;
    box-shadow: 0 10px 25px rgba(1 1 1 /100%);

}
header .nav.active .nav-items a::before
{
    background-color: #000;
    height: 5px;
}
section
{
    padding: 100px 200px;
}
span
{
    color:#fff;
    transition: 0.3 ease;
}
span:hover
{
    color:#000;
    transition: 0.3 ease-in;
    transform: translateX(15px);
}
.main
{
    display:flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    height: 100vh;
    justify-content: center;
    background: rgba(3,96,251, 0.5);
    background-size: cover;
    left: 0;
    top: 0;
}
.main:before
{
    content: '';
    z-index: 777;
    display: flex;
    position: absolute;
    background: rgba(3,96,251, 0.2);
    background-size: cover;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.main .content
{
    transition: 0.3s ease;
    display: none;
    left: 10px ;
    z-index: 888;
    width: 70%;
    color: #fff;
    margin-top: 50px;

}
.main .content.active
{
    transition: 0.3s ease;  
    display: block;

}
.main .content h1
{
    font-size: 4em;
    font-weight: 800;
    text-transform: uppercase;
}
.main .content p
{
    margin-bottom: 65px;
}
.main .content a
{
    color: #000;
    background: #fff;
    padding: 15px 15px;
    border-radius: 15px;
    text-decoration: none;
    font-weight: 600;
}
.main .icons
{
    z-index: 888;
    position: absolute;
    transition: 0.5s ease;
    display: flex;
    flex-direction: column;
    right: 30px;
}
.main .icons a
{
    color: #fff;
    font-size: 1.6em;
}
.main .icons a:not(:last-child)
{
    margin-bottom: 25px;
}
.main .icons a:hover
{
    transform: scale(1.3);
}
.slider
{
    margin-left: 450px;
    margin-bottom: 100px;
    z-index: 888;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: flex;
    bottom: 15px;
    transform: translateY(80px);
}
.slider .slider-btn
{
    width: 15px;
    height: 15px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: rgba(3,96,251, 0.5);
    transition: 0.3s ease;

}
.slider .slider-btn.active
{
    background: #000;
}
.slider .slider-btn:not(:last-child)
{
    margin-right: 35px;
}
.slider .slider-btn:hover
{
    transform: scale(1.2);
    box-shadow: 0 50px 50px #000;
}
.slides
{

    width: 100%;
    left: 0;
    bottom: 0;
    position: absolute;
    min-height: 100vh;
    clip-path: circle(0% at 0 50%);
}


.slides.active
{
    min-height: 100vh;
    min-width: 100vh;
    object-fit: cover;
    clip-path: circle(150% at 0 50%);
    transition: 2s ease;
    transition-property: clip-path ;
}


@media (max-width: 1040px){
    header
    {
   padding: 12px 20px;
    }
    .main
    {
        overflow: hidden;
        padding: 100px 20px;
    }
    .main .icons
    {
        right: 15px;
    }
    header .nav {
        display: none;
    }
    
    .menu
    {
        background: url(menu.png) no-repeat;
        background-size: 50px;
        background-position: center;
        width: 30px;
        height: 50px;
        transition: 0.3 ease;
        cursor: pointer;
    }
    .menu.active
    {
        z-index: 999;
        background: url(close.png) no-repeat;
        background-size: 40px;
        background-position: center;
        transition: 0.3 ease;
    }
}
@media (max-width: 1007px)
{
    .main
    {
        overflow: hidden;
        padding: 20px 20px;
    }
    .slider
    {      
        margin-bottom: 30px;
    }
}